/* common styles body */
body{
    font-family: 'Open Sans', sans-serif;
}
.text-primary{
    color:rgb(221, 145, 4);
}
.btn-primary{
    border-radius: 5px;
    background-color: rgb(255, 132, 0);
    border: 0;
    font-size: 20px;
    font-weight: 700;
    color: white;
    padding: 15px 30px;
}

/* nav related styles */
nav{
    display: flex;
    justify-content: space-between;
    margin: 0 150px;
}
.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}
nav > ul{
    display: flex;
    align-items: center;
}
nav li{
    list-style: none;
    margin-right: 50px;
}
nav a{
    text-decoration: none;
    color: rgb(97, 92, 92);
}


/* header related styles */
.header{
    background-color: white;

}
.banner{
    padding: 30px 30px 30px 150px;
    display: flex;
    align-items: center;
}
.profil-picture{
    width: 400px;
}
.banner-content{
    
}